/*General*/

body{
    background-color: lightgrey;
    margin: 0;
}


/*Header*/

.logo{

    display: inline;
    height: 100px;
    vertical-align: middle;
}


h1{
    display: inline;
    font-weight: bold;
    vertical-align: middle;
    font-size: 40px;
    
}

.color{
    background-color: white;
    

}


/*Corpo pagina*/

.container{
    
    width: 50%;
    margin: 0 auto;
    

}


.box{
    background-color: white;
    border: 1px solid white;
    padding: 2px;
    margin-top: 30px;
    
}
 

.box2{
    background-color: white;
    border: 1px solid white;
    padding: 15px 20px;
    margin-top: 2px;
       

}

.color2{
    border: dodgerblue;
    color: white;
    display: inline;
    background-color: dodgerblue;
    border-radius: 5px;
    


}

.color3{
    border: black;
    display: inline;
    color: black;
    background-color: white;
    border-radius: 5px;
}



ul{
    display: inline;
    padding-inline-start: 0;
    list-style-position: inside;
    list-style-type: none;
}


.bot{
    display: inline;
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
    border-radius: 10px;
    color: white;
}

.bot2{
    display: inline;
    background-color: rgb(209, 0, 209);
    border: 1px solid rgb(209, 0, 209);
    border-radius: 10px;
    color: white;
}

.bot3{
    display: inline;
    background-color: green;
    border: 1px solid green;
    border-radius: 10px;
    color: white;
}

.bot4{
    display: inline;
    background-color: orange;
    border: 1px solid  orange;
    border-radius: 10px;
    color: white;
}

.bot5{
    display: inline;
    background-color: violet;
    border: 1px solid violet;
    border-radius: 10px;
    color: white;
}

.bot6{
    display: inline;
    background-color: rgb(82, 218, 82);
    border: 1px solid rgb(82, 218, 82);
    border-radius: 10px;
    color: white;
}


