
/*Header*/

.logo{
    display: inline;
    height: 100px;
    vertical-align: middle;
}


h1{
    display: inline;
    font-weight: bold;
    vertical-align: middle;
    font-size: 40px;
    
}




